Make sure all inner joins referred to in a materialized view have referential integrity (foreign key - primary key constraints) with additional NOT NULL constraints on the foreign key columns. Since constraints tend to impose a large overhead, you could make them NO VALIDATE and RELY and set the parameter QUERY_REWRITE_INTEGRITY to stale_tolerated or trusted. However, if you set QUERY_REWRITE_INTEGRITY to enforced, all constraints must be enforced to get maximum rewritability.